
/*
										 ---HEADER---
*/

$header-top-height: 40px; 
$header-bottom-height: 80px;
$header-min-menu: 70px;

#header{
	top: 0;
	z-index: 110;
	right: 0;
	left: 0;
	position: fixed;
	pointer-events: none;
	//font-family: $font-family-1;
	&:not([class*="bg-color"]){
		background-color: transparent;
	}
	*{
		pointer-events: auto;
	}
	@media (max-width: 991px){
		//position: fixed;
	}
	h4{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.header-hidden{
	//position: relative;
	height: $header-top-height+$header-bottom-height;
	transition: height 0.3s ease-in-out 0.4s;
	@media ( max-width: 991px ){
		height: 70px;
	}
}
.header-offset{
	height: $header-top-height;
	background-color: $color-gray-4;
	@media (max-width: 991px) {
		//display: none;
		height: 80px;
	}
}

.header-top{
	width: 100%;
	transform: auto;
	background-color: $color-gray-5;
	color: $color-gray-3;
}
.header-top-content{
	height: $header-top-height;
	//overflow: hidden;
	display: flex;
	font-size: em(12);
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	&.align-i-center{
		flex-wrap: nowrap;
	}
}
.header-address{
	min-width: 30%;
	overflow: hidden;
	max-width: 200px;
	text-overflow: ellipsis;
}
.header-signin{
	height: 100%;
	display: flex;
	text-transform: uppercase;
	.btn-def{
		align-items: center;
		display: flex;
		height: 100%;
		&:not(.reverse):nth-child(1){
			color: $color-gray-3;
			background-color: transparent;
		}
	}
}

.header-bottom{
	background-color: white;
	box-shadow: 0 5px 25px -15px rgba(0, 0, 0, 0.32);
}
.header-bottom-content{
	display: flex;
	background-color: white;
	align-items: center;
	z-index: 1;
	position: relative;
	height: $header-bottom-height;
}
.header-logo{
	img{
		width: 220px;
	}
}
.search-container{
	width: 100%;
	.search-nav-content{
		min-width: 480px;
		input{
			width: 100%;
		}
	}
	.search-container-wrapper{
		display: flex;
		justify-content: flex-end;
	}
	.select-content{
		select{
			min-width: 200px;
		}
	}
	@media (min-width: 992px) {
		.btn-def{
			margin-left: 10px;
		}
	}
}

.header-scroll{
	.header-top{
		transform-origin: 50% 0;
	}

	.header-top, .header-top-content, .header-logo img, .header-logo, .header-bottom-content{
		transition: all 0.5s ease; 	
	}
	&.scrolled, &.header-pages{
		.header-top{
			box-shadow: 0px 5px 20px -10px black;
			background-color: $color-gray-4;
		}
		.header-top-content{
			overflow: hidden;
			height: 0;
			.menu{
				color: $color-gray-4;
			}
		}
		.header-logo{
			img{
				width: 180px;
			}
		}
		.header-bottom-content{
			height: 60px;
		}
	}
}


.header-lang{
	box-shadow: 0 0 30px -3px rgba(black, 0.5);
	padding: 8px 10px;
	background-color: rgba(white, 0.05);
	position: relative;
	img{	
		border: 1px solid rgba(black, 0.1);
	}
	.hide-list{
		color: white;
		position: absolute;
		opacity: 0;
		background-color: #333;
		padding: 5px 10px;
		left: 0px;
		margin-top: 10px;
		width: 100%;
		li{
			margin: 5px 0;
		}

		img{
			box-shadow: 0 0 10px -1px rgba(black, 0.5);
		}
	}
	#langlist{
		&:checked{
			&~.hide-list{
				z-index: 10;
				opacity: 1;
			}
		}
	}
}

.socicons{
	font-size: 14px;
	li{
		display: inline-block;
		transition: color 0.3s ease;
		margin-left: 8px;
		&:nth-child(1){
			margin-left: 0;
		}
		a{
			display: flex;
			height: 100%;
			align-items: center;
			i{
				width: 100%;
			}
		}
		&:hover{
			color: $color-2;
		}
	}

}

.menu{
	position: relative;
	height: 100%;
	font-weight: 300;
	overflow: hidden;
	nav{
		white-space: nowrap;
		height: 100%;
	}
	ul:not([class*="sub-menu"]){
		display: flex;
	  justify-content: space-between;
	  text-align: right;
		width: 100%;
		height: 100%;
		@extend .letter-none;
		& > li{
			height: 100%;
			display: inline-block;
			position: relative;
			letter-spacing: 0;

			& > a{
				height: 100%;
				display: block;
				padding: 10px 10px;
				position: relative;
				display: flex;
    		align-items: center;
			}
			&.active{
				color: white;
			}
			&:hover{
				a{
					color: white;	
				}
				.sub-menu-1{
					transform: matrix(1,0,0,1,0,0);
					opacity: 1;
					//visibility: visible;
					&, li, a{
						pointer-events: auto !important;
					}
					transition: 
											opacity 0.3s ease-in-out,
											transform 0.3s ease-in-out;
				}
			}

		}
	}
	li{
		display: inline-block;
		a{
			transition: all 0.3s ease;
			position: relative;
			z-index: 2;
		}
		&.active{
			background-color: $color-2;
		}

	}
}

ul[class*="sub-menu"]{
	position: absolute;
	font-weight: 500;
	transition: 
							opacity 0.3s ease-in-out,
							transform 0.3s ease-in-out,
							pointer-events 0s ease-in-out 0.3s;
	opacity: 0;
	z-index: 2;
	background-color: white;
	&, li, a{
		pointer-events: none !important;
	}
	box-shadow: 0px 2px 10px -5px rgba(black, 0.5);
	li{
		white-space: nowrap;
		width: max-content;
		min-width: 175px;
		width: 100%;
		padding: 0 15px;
		&:not(:last-child){
			border-bottom: 1px solid rgba(black, 0.1);
		}
		&:hover{
			color: white;
			.sub-menu-2{
				opacity: 1;
				transform: none;transform: unset; 
			}
		}
		a{
			position: relative;
			z-index: 1;
			color: $color-gray-5 !important;
			display: block;
			transition: all 0.3s ease-in-out;
			padding: 12px 0;
			&:before, &:after{
				display: none;
			}

		}
	}
}
.sub-menu-1{
	white-space: normal;
	text-transform: none;
	transform: matrix(1,0,0,1,0,5);
	transform-origin: 40% 0;
	text-align: left;
}
.sub-menu-2{
	left: 100%;
	margin-top: -40px;
	transform: matrix(1,0,0,1, 10,0);
}














/*
										 ---MIN-MENU---
*/




#min-menu{
	//background-image: url( "../img/other/texture-2.png" );
	//background-color: $color-1;
	background-size: 600px;
	background-position: right;
	.search-container{
		padding-left: 15px;
		padding-right: 15px;
		.search-container-wrapper{
			flex-wrap: wrap;
			margin-top: 10px;
			margin-bottom: 10px;
			.btn-def{
				width: 35%;
				button{
					padding-left: 5px;
					padding-right: 5px;
				}
			}
			input{
				padding-top: 2px;
				padding-bottom: 2px;
			}
		}
		.search-nav-content{
			min-width: 50px;
			width: 65%;
		}
	}
	.select-content{
		display: none;
		width: 40%;
	}
	.header-signin{
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		justify-content: space-between;
		.btn-def{
			background-color: transparent;
			color: $color-gray-3;
			text-decoration: underline;
			width: 100%;
			a{
				width: 100%;
			}
		}
		&.username-content{
			justify-content: center;
			align-items: center;
		}
	}
}
.username-content{
	justify-content: center;
	align-items: center;
	.img{
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
		border: 1px solid $color-gray-3;
	}
	.username-title{
		margin-left: 15px;
		max-width: 210px;
		p{
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
#mm-blocker{
	background-color: rgba(black, 0.3);
}
.min-menu-lang{
	li{
		text-decoration: underline;
	}
	.active{
		color: $color-2;
	}
}



.min-menu-header{
	transition: top 0.3s ease-in-out 0.3s;
	opacity: 1;
	width: 100%;
	transform: unset; transform: none;
	position: fixed;
	top: 0;
  height: $header-min-menu;
  padding: 0 25px;
	z-index: 100;
	color: black;
	box-shadow: 0 0 20px 0 black;
	background-color: white;
	font-size: 0.9em;
	.min-menu-logo{
		padding: 12px 0;
		width: 100%;
		h1{
			font-size: 25px;
		}
		.img{
			background-size: contain;
			background-position: center left;
			height: 45px;
		}
	}
	.min-menu-bar{
		padding: 5px 0;
		.bar{
			transform: scale(0.8);
		}
	}
	.icon-bar{
		background-color: black;
	}
}
.mm-navbars-top{
	//background-color: #333;
}
.mm-opening{
	.min-menu-header{
		opacity: 0 ;
		top: -200px;
	}
	.header-hidden{
		transition: height 0.3s ease-in-out 0.0s;
	}

}



// ---MM-MENU---
.mm-navbar{
	.close-btn{
		width: 35px;
		height: 35px;
	}
}
.mm-slideout{
	z-index: auto;
}
.mm-panel{
	.search-input{
		input{
			border-color: $color-gray-2;
		}
	}
}
.mm-navbar{
	position: relative;
	.close-btn{
		position: absolute;
		top: 30px;
		right: 20px;
		font-size: 60px;
		opacity: 0.8;
		[class^="icon"]{
			//box-shadow: 0 0 2px black;
		}
	}
	.min-menu-logo{
		img{
			opacity: 1;
			filter: drop-shadow( 0 -5px 1px darken($color-1, 5%) );
			width:100px;
			margin-top: 15px;
		}
	}
}
// ---MODAL---
.modal{
	@media(max-width:991px ) {
		.flexalign-i-center{
			display: block;
		}
	}
}
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: black;
		width: 42px;
		height: 50px;
		right: -5px;
    top: -5px;
    z-index: 1;
    border-radius: 0 5px;
  	&:focus, &:active{
  		outline: none;
			box-shadow: none;
		}
	}
	.icon-bar{
		background-color: $color-1;
	}
}


.bar{
	width: 60px;
	height: 45px;
	margin-left: auto;
	//margin-right: 25px;
}
.icon-bar{
	width: 100%;
	background-color: white;
	height: 1px;
	position: relative;
	display: block;
	margin: 14px 0;
	&:first-child{
		//margin-top: 14px;
	}
}
.close-content{
	.icon-bar{
		transform-origin: center;
		margin: -1px;
		&:nth-child(1){
			transform: rotate(45deg);
		}
		&:nth-child(2){
			transform: rotate(-45deg);
		}
	}
}

.form-control{
	border-radius: 10px;
	&:focus, &:active, &{
		box-shadow: none;
	}
	resize: none;
	border-width: 0px;
	background-color: $color-gray-3;
	border-color: rgba($color-1, 0.3);
}
textarea.form-control{
	height: 150px;
}




//search nav
.search-nav-content, .input-btnin{
	.fa{
		color: $color-gray-3;
		font-size: 15px;
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
	}
	.search-input{
		border: 1px solid $color-gray-1;
    height: 100%;
	}
	input{
		border: none;
		height: 100%;
		padding: 5px 15px;
		background-color: #f4f4f4;
		padding-left: 45px;
		box-shadow: inset 0 4px 10px -8px rgba(black, 0.3);
		@include placeholder-color( rgba($color-gray-3, 0.6) );
	}
	button{
		background-color: $color-1;
		color: white;
		width: 60px;
    padding: 5px 10px;
    position: absolute;
	  font-size: 1em;
    top: 0;
    right: 0px;
    height: 100%;
    transition: filter 0.3s ease;
    border: 0;
    &:active{
    	filter: brightness(80%);
    }
	}
}


.fancymodal{
	
	@media (max-width: 991px){
		input.pie-form-control[type="checkbox"]{
			width: 20px;
			height: 20px;
		}
		.modal-col{
			height: auto !important;
			margin: 15px 0;
			padding-bottom: 15px;
			border-bottom: 1px dotted gray;
		}
	}
}



.input-icon{
	position: relative;
	.fa{
		font-size: 18px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;
		color: $color-gray-3;
	}
	.fa-envelope{
		font-size: 15px;
	}
	input{
		padding-left: 45px;
	}
}

.form-def{
	background-color: white;
	background-size: cover;
	color: black;
	padding: 10px 40px;
	
	@media (min-width: 992px) {
		background-image: url('../img/other/callbaby.png');
		background-repeat: no-repeat;
		background-position: -50px;
		background-size: auto;
		padding-left: 160px;
		padding-right: 20px;
	}
	.form-main{
		max-width: 320px;
	}



	h1, h3{
		margin-top: 0;
		margin-bottom: 0;
	}
	.fancybox-close-small{
		top: 15px;
    right: 15px;
    &:after{
    	color: $color-1;
   		font-size: 35px;
    }
 		&:hover:after{
 			color: $color-1;
 		}
    &:focus:after{
    	outline: none;
    }
	}
}
.form-bid{
	//max-width: 360px;
	@media (min-width: 992px) {
		min-width: 420px;
	}
	label{
		font-weight: 400;
	}
	.label-title{
		font-size: 0.9em;
		color: $color-gray-3;
		padding-bottom: 5px;
		display: inline-block;
	}
	.fancybox-close-small{
    &:after{
    	color: $color-1;
    	font-size: 25px;
    }
 		&:hover:after{
 			color: $color-1;
 		}
 	}
}
.form-success{
	.icon-content{
		text-align: center;
		.fa{
			color: $color-1;
			font-size: 112px;
		}
	}
}


