$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-address-path1: "\e900";
$icm-address-path2: "\e901";
$icm-address-path3: "\e902";
$icm-address-path4: "\e903";
$icm-award-path1: "\e904";
$icm-award-path2: "\e905";
$icm-award-path3: "\e906";
$icm-discount-path1: "\e907";
$icm-discount-path2: "\e908";
$icm-discount-path3: "\e909";
$icm-discount-path4: "\e90a";
$icm-discount-path5: "\e90b";
$icm-facebook-logo: "\e90c";
$icm-Favicon: "\e90d";
$icm-global: "\e90e";
$icm-home: "\e90f";
$icm-idea-path1: "\e910";
$icm-idea-path2: "\e911";
$icm-idea-path3: "\e912";
$icm-idea-path4: "\e913";
$icm-idea-path5: "\e914";
$icm-idea-path6: "\e915";
$icm-idea-path7: "\e916";
$icm-idea-path8: "\e917";
$icm-idea-path9: "\e918";
$icm-linkedin-button: "\e919";
$icm-mail-black-envelope-symbol: "\e91a";
$icm-MT_logo_final-path1: "\e91b";
$icm-MT_logo_final-path2: "\e91c";
$icm-MT_logo_final-path3: "\e91d";
$icm-MT_logo_final-path4: "\e91e";
$icm-MT_logo_final-path5: "\e91f";
$icm-MT_logo_final-path6: "\e920";
$icm-MT_logo_final-path7: "\e921";
$icm-MT_logo_final-path8: "\e922";
$icm-MT_logo_final-path9: "\e923";
$icm-MT_logo_final-path10: "\e924";
$icm-MT_logo_final-path11: "\e925";
$icm-MT_logo_final-path12: "\e926";
$icm-MT_logo_final-path13: "\e927";
$icm-MT_logo_final-path14: "\e928";
$icm-MT_logo_final-path15: "\e929";
$icm-MT_logo_final-path16: "\e92a";
$icm-MT_logo_final-path17: "\e92b";
$icm-MT_logo_final-path18: "\e92c";
$icm-MT_logo_final-path19: "\e92d";
$icm-phone-receiver: "\e92e";
$icm-play-button: "\e92f";
$icm-telegram: "\e930";
$icm-vehicle-path1: "\e931";
$icm-vehicle-path2: "\e932";
$icm-vehicle-path3: "\e933";
$icm-vehicle-path4: "\e934";
$icm-vehicle-path5: "\e935";
$icm-vehicle-path6: "\e936";
$icm-vehicle-path7: "\e937";
$icm-vehicle-path8: "\e938";
$icm-vehicle-path9: "\e939";

